alabaster==0.7.16
babel==2.16.0
certifi==2024.2.2
charset-normalizer==3.3.2
commonmark==0.9.1
coverage==7.6.10
docutils==0.21.2
execnet==2.1.1
flake8==7.1.1
idna==3.6
imagesize==1.4.1
iniconfig==2.0.0
Jinja2==3.1.5
MarkupSafe==3.0.2
mccabe==0.7.0
packaging==24.2
pillow==11.1.0
PlexAPI==4.16.1
pluggy==1.5.0
pycodestyle==2.12.1
pyflakes==3.2.0
Pygments==2.19.1
pytest==8.3.4
pytest-cache==1.0
pytest-cov==6.0.0
pytest-mock==3.14.0
recommonmark==0.7.1
requests==2.32.3
requests-mock==1.12.1
setuptools==75.8.0
snowballstemmer==2.2.0
Sphinx==7.4.7
sphinx-rtd-theme==3.0.2
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
tqdm==4.67.1
urllib3==2.2.0
websocket-client==1.8.0
wheel==0.42.0
